*.mat
*.jpg
*.png
*.gif
*.h5
*.onnx
*.pkl
*.pth
*.tflite
*.csv
*.npy
*.npz
*.caffemodel
*.tar
*.zip
*.cmodel
*.params
*.json
*.so
*.mnn
*.o
*.mp4
/instances/face_antispoof/logs/
/mnn206/gen/bin/
